{% extends "pirate_site/browse.html" %}

{% block browse %}Browse {{ category|capfirst }} files{% endblock %}

{% block category_column %}{% endblock %}

{% block loop_content %}

{% for e in data %}
<tr>
<td><a href="/{{ category }}/{{ e.id }}" title="Details for {{ e.title }}">{{ e.title }}</a></td>
<td>{{ e.date_released }}</td>
<td><nobr><a href="magnet:{{ e.magnet }}" title="Download this file"><img src="/static/img/dl.gif" class="dl" alt="Download" /></a>
<td align="right">[[ SIZE ]]</td>
<td align="right"></td>
</tr>
{% endfor %}

{% endblock loop_content %}