{% extends "pirate_site/header.html" %}
{% load staticfiles %}
{% load sizefieldtags %}

{% block content %}

<div class="small-font">
    <div id="detailsouterframe">
        <div id="detailsframe">
            <div id="title">
                {{ data.title }}
            </div>
            <div id="details" class="clearfix">
                <dl class="col1">
                    <dt>Category:</dt>
                    <dd>
                        <a href="/{{ category }}" title="More from this category">{{ category|capfirst }}</a>
                    </dd>
                    <dt>Size:</dt>
                    <dd>{{ data.filesize|filesize }}</dd>
                </dl>
                <dl class="col2">
                    <dt>Uploaded:</dt>
                    <dd>{{ data.date_uploaded }}</dd>
                    <dt>By:</dt>
                    <dd>{{ data.uploader }}</dd>
                </dl>

                <br /><br /><br /><br />

                <div class="download">
                    <a style="background-image: url({% static "img/icon-magnet.gif" %});" rel="nofollow" href="magnet:{{ data.magnet }}" title="Get this file">&nbsp;Get this file</a>
                </div>

                <div>(Problems with magnets links are fixed by upgrading your <a href="http://172.16.13.39/airdc/" target="_blank">DC++ client</a>!)
                </div>

                <div class="nfo">
                    {% autoescape off %}
                    <pre>{{ data.title }}

                         {{ data.getInfo }}
                    {% endautoescape %}
                </div>

                <div class="download">
                    <a style="background-image: url({% static "img/icon-magnet.gif" %});" rel="nofollow" href="magnet:{{ data.magnet }}" title="Get this file">&nbsp;Get this file</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}