{% extends "pirate_site/header.html" %}

{% block browse %}How do I download?{% endblock %}
{% block content %}

<div class="guide small-font">
    <div id="intro">
        <p>This guide will show you how to download from The Pilani Pirates.</p>
        <p>There are many different DC clients, this guide explains how to use <a href="http://www.apexdc.net" title="Apex DC++">Apex DC++</a>.</p>
    </div>

    <div class="guide">
        <h2>Apex DC ++</h2>
        <h3>Installing</h3>
        <ol>
            <li>Download <a href="http://www.apexdc.net/download" title="Download Apex DC++">Apex DC++</a></li>
            <li>Install it.</li>
        </ol>

        <h3>Download</h3>
        <ol>
            <li>Go to <a href="http://127.0.0.1:8000/" title="The Pilani Pirates">127.0.0.1:8000</a> and select a download. Click "<span class="highlight">Get this file</span>".</li>
            <li>Now your web browser might ask you what application you want to open the file with. <span class="highlight">Select Apex DC++</span> and make sure the browser remembers your choice.</li>
            <li>Your files are now being downloaded in Apex DC++.</li>
        </ol>

        <br>

        <h3>Problems, questions?</h3>
        <p>
        <strong>Q: </strong><i>Magnets don't open in my DC client.</i><br>
        <strong>A: </strong>The easiest way to fix this is to uninstall and then install Apex DC++ again.<br>Or fix your settings.
        </p>

        <h3>Other info</h3>
        <p>
        Always share as much as you can and keep your DC client running as long as you can. Also, try to upload at least as much as you download.<br>
        Thats the way to keep the DC network alive. 
        </p>
    </div>
</div>

{% endblock content %}